<center><div class="mobile">
 
<section class="header_text sub">
    <h4>Payment</h4> </section>
 <div class="payment-form">
   <form name="aform" role="form" ng-submit="showOne()">
    <fieldset>
      <label for="card-name" style="float:left"><b>Full Name on Card</b></label>
       
      <input id="card-name" type="text" class="credit-input" name="card-name" style="border: 2px solid #00B5B5;" maxlength="20" pattern="^[a-zA-Z][a-zA-Z\\s]+$" required />
        <!--<span style="color:Red" ng-show="aform.card-name.$error.pattern">Enter valid firstname.</span>
                                <span style="color:Red" ng-show="aform.card-name.$error.minlength">Shorter firstname.</span>-->
        <label for="card-name" style="float:left"><b>Shipping Address</b></label>
        <input type="text" name="address1" class="credit-input" style="border: 2px solid #00B5B5;"  pattern="[a-zA-Z0-9 ]{1,}" size="30" required/>
        
<label for="card-name" style="float:left"><b>City</b></label>
<input type="text" name="city" class="credit-input" style="border: 2px solid #00B5B5;"   pattern="[a-zA-Z]{1,}" size="30" required/>
        <label for="card-name" style="float:left"><b>Zip</b></label>
<input type="text" name="zip"  class="credit-input" style="border: 2px solid #00B5B5;" maxlength="6"  pattern="[0-9]{6}" size="30"required/>
         <label for="card-name" style="float:left"><b>Contact</b></label>
<input type="text" name="zip"  class="credit-input" style="border: 2px solid #00B5B5;" maxlength="10"  pattern="[0-9]{10}" size="30" required/>
      <label for="card-number" style="float:left"><b>Credit/Debit Card Number</b></label>
      <input id="card-number" maxlength="19" minlength="13" pattern="[0-9]*" type="text" class="credit-input" style="border: 2px solid #00B5B5;" required>
      <label for="expiration" style="float:left"><b>Expiration Date</b></label><label for="security" ><b>Security Code</b></label>
      <input id="expiration" maxlength="4" minlength="4" pattern="(0[1-9]|1[0-2])(([0-9]{4})|[0-9]{2}$)" placeholder="MMYY" type="text" class="credit-input" style="border: 2px solid #00B5B5;float:left" required>
      
      <input id="security" maxlength="4" minlength="2" pattern="[0-9]*" placeholder="1234" type="text" class="credit-input" style="border: 2px solid #00B5B5;float:inherit" required>
    </fieldset>
  <button type="submit" class="button1">Submit</button>
     </form>
      </div>
    </div>
    </center>